
    <%- include('partials/header_static') %>
     <div class="middle_container">
       <div class="right_part">
         <img src="images/front.png" alt="mobile_img" class="front_img">
         <img src="images/logo.png" alt="logo" class="logo">
         <h1 id="heading">Welcome To Postgram!!</h1>
         <p id="sub_heading">If you want to share your Thoughts.</p>
         <a href="login"><button type="button" name="button" class="btn btn-lg home_button_signin">SignIn</button></a>
         <a href="register"><button type="button" name="button" class="btn btn-lg home_button_signup">SignUp</button></a>
       </div>
     </div>
<%- include('partials/footer_static') %>
